---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: We use Justice Law in all our endeavours. They offer an unparalleled service when it comes to running a business.
    image: "https://placekitten.com/g/60/60?a=.png"
    name: Joice Carmold
  - message: Justice Law are the best of the best. Being local, they care about people and have strong ties to the community.
    image: "https://www.fillmurray.com/60/60?a=.png"
    name: Peter Rottenburg
  - message: Justice Law were everything we could have hoped for when buying our first home. Highly recommended to all.
    image: "https://placebear.com/60/60?a=.png"
    name: D. and G. Gibbleston
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p>
    We are a social and human services provider that focuses on case-management as well as home and community-based services.
  </p>

  <p>
    We've been providing services and making it possible for people to get what they need since 1992. In 2017, we changed our name from A Peace of Mind to APOM Now (A Peace of Mind Now).
  </p>

  <p>
  Our staff is certified and ready to help. See the <a href="./services">services</a> we offer and <a href="./contact">contact us</a> today!
  </p>
</div>

<!-- <div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div> -->
